extends ../layout.pug

block body
  .card
    .card-header
       h3.card-title Модели номенклатуры
       a.float-right.btn.btn-success(type="button" href="/nomenclaturemodel/edit") Добавить
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/nomenclaturemodel/edit/${args.item.id}`
          },
          controller: {
            loadData: () => {
              var deferred = $.Deferred();
              $.ajax({
                url: `#{env.backendAddr}/api/nomenclaturemodel`,
                success: function(response) {
                  deferred.resolve(response.map(el => {
                    el.type = `${el['nt.ng.nc.id']}.${el['nt.ng.id']}.${el['nt.id']}.\t` +
                      `${el['nt.ng.nc.title']} > ${el['nt.ng.title']} > ${el['nt.title']}`
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields: [
            { title: "Код", name: "id" },
            { title: "Модель", name: "title" },
            { title: "Родитель", name: "type" },
          ]
        })
      })