extends ../layout.pug

block body
  .card
    .card-header
       h3.card-title Модели номенклатуры
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            showDetailsDialog("Edit", args.item);
          },
          controller: {
            loadData: () => {
              var deferred = $.Deferred();
              $.ajax({
                url: `http://${window.location.host}/api/nomenclaturemodel`,
                success: function(response) {
                  deferred.resolve(response.map(el => {
                    el.classCode = el["NomenclatureType.NomenclatureGroup.NomenclatureClass.code"]
                    el.className = el["NomenclatureType.NomenclatureGroup.NomenclatureClass.title"]
                    el.groupCode = el["NomenclatureType.NomenclatureGroup.code"] || ''
                    el.groupName = el["NomenclatureType.NomenclatureGroup.title"]
                    el.typeCode =  el["NomenclatureType.code"] || ''
                    el.typeName =  el["NomenclatureType.title"]
                    el.modelCode = `${el.classCode}.${el.groupCode}.${el.typeCode}.${el.code || ''}`
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields: [
            { name: 'id' },
            { title: "Код", name: "modelCode" },
            { title: "Модель", name: "title" },
            { title: "Тип", name: "typeName" },
            { title: "Группа", name: "groupName" },
            { title: "Класс", name: "className" },
            //{ name: "createdAt" },
            //{ name: "updatedAt" },
            {
              type: "control",
              modeSwitchButton: false,
              editButton: true,
              headerTemplate: () => $(`<a type="submit" class="btn btn-success" href="/nomenclaturemodel/edit">Добавить</button>`)
            }
          ]
        })
      })