extends ../layout.pug

block breadcrumbs
  li.breadcrumb-item.active(aria-current="page") Номенклатура

block body
  #table-configuration-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="table-configuration-modal-label" aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h5#table-configuration-modal-label.modal-title Настройка таблицы
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
              ul#cols_order.list-group
                li.list-group-item.hr.inactive-zone Незакрепленная область

            .modal-footer
              
              button#cols_reset.btn.btn-danger.mr-auto(type="button" data-dismiss="modal") Сбросить
              button.btn.btn-secondary(type="button" data-dismiss="modal") Отмена
              button#cols_apply.btn.btn-primary(type="button") Применить

  .card#make-me-table-width
    .card-header
      .float-left 
        btn#clear-filters.btn.btn-danger очистить фильтры 
      .float-right
        a.btn.btn-success(type="button" href="/nomenclature/edit")
          i.far.fa-plus-circle
          |  Добавить
        | &nbsp; 
        a.btn.btn-primary(type="button" href="/download/nomenclature")
          i.fa.fa-file-excel   
        | &nbsp;          
        button.btn.btn-primary(type="button" data-toggle="modal" data-target="#table-configuration-modal")
          i.far.fa-cog
        | &nbsp;


          
    .card-body
      #jsGrid
      .d-flex.justify-content-end
        #externalPager.external-pager.jsgrid-pager-container.d-inline-block
append script
    script.
      $(() => {
        var localStorage =window.localStorage
        localStorage.clear()
           $('body').click(() => { 
          $('.filter').popover('hide')
        })
        var urlSearchParams = new URLSearchParams(window.location.search)
        var query = Object.fromEntries(urlSearchParams.entries())
        var data
        let fields= [
            { title: "Код",                 name: "id",                 type: "number", width: 70, },
            { title: "Обозначение",         name: "designation",        type: "text",   width: 140 },
            { title: "Наименование",        name: "title",              type: "text",   width: 280 },
            { title: "Ед изм.",             name: "unitId",             type: "text",   width: 90,},
            { title: "Класс",               name: "nomenclatureClass",  type: "text",   width: 220,},
            { title: "Группа",              name: "nomenclatureGroup",  type: "text",   width: 220,},
            { title: "Тип",                 name: "nomenclatureType",   type: "text",   width: 220,},
            { title: "Модель",              name: "nomenclatureModel",  type: "text",   width: 220,},
            { title: "Дата создания",       name: "created",            type: "date",   width: 160},
          ]
        fields.map((el, id) => Object.assign(el, {pos: -1, id}))
        var cols = (query.cols || '').split(',').filter(el => fields[el])
        if (cols.length) {
          cols.map((i, n) => fields[i].pos = +n)
          fields.sort((a, b) => a.pos > b.pos)
        } else {
          fields.map(el => el.pos = 1)
        }

        fields.map((el, n) => $('#cols_order .hr')[el.pos > -1 ? 'before' : 'after'](`<li class="list-group-item item" data-n="${el.id}">${el.title}</li>`))
        fields = fields.filter(el => el.pos > -1)

        $('#cols_apply').click(() => {
          var order = [...$('#cols_order *')].map(el => $(el).data('n'))
          order = order.slice(0, order.indexOf(undefined))
          urlSearchParams.set('cols', order)
          document.location.href = `/nomenclature?${urlSearchParams.toString()}`
        })
        $('#cols_reset').click(() => {
          document.location.href = `/nomenclature`
        })

        $('#jsGrid').jsGrid({
          height: "auto",
          width: "auto",
          editing: false,
          filtering: false,
          autoload: true,
          sorting: true,
          paging: true,
          loadMessage: 'Загрузка...',
          noDataContent: 'Нет данных',
          pagerContainer: "#externalPager",
          pageSize: 20,
          pageButtonCount: 15,
          pagerFormat: "Страницы: {first} {prev} {pages} {next} {last} &nbsp;&nbsp; {pageIndex} из {pageCount}",
          pagePrevText: "&#x23F4",
          pageNextText: "&#x23F5",
          pageFirstText: "&#x23EE",
          pageLastText: "&#x23ED",
          rowClick: function(args) {
            window.location.href=`/nomenclature/edit/${args.item.id}`
          },
          controller: {
            loadData: (filter) => {
              var deferred = $.Deferred();
              if (data) {
                console.log(filter)
                return $.grep(data, el =>
                     (!filter.designation       || el.designation.toLowerCase().includes(filter.designation.toLowerCase()))
                  && (!filter.title             || el.title.toLowerCase().includes(filter.title.toLowerCase()))
                  && (!filter.unitId            || el.unitId.toLowerCase().includes(filter.unitId.toLowerCase()))
                  && (!filter.nomenclatureClass || el.nomenclatureClass.toLowerCase().includes(filter.nomenclatureClass.toLowerCase()))
                  && (!filter.nomenclatureGroup || el.nomenclatureGroup.toLowerCase().includes(filter.nomenclatureGroup.toLowerCase()))
                  && (!filter.nomenclatureType  || el.nomenclatureType.toLowerCase().includes(filter.nomenclatureType.toLowerCase()))
                  && (!filter.nomenclatureModel || el.nomenclatureModel.toLowerCase().includes(filter.nomenclatureModel.toLowerCase()))
                  && (!filter.created || `${moment(el.createdAt).format('YYYY.MM.DD')}`.toLowerCase().startsWith(filter.created.toLowerCase())
                  )
                  
                  && (!filter.id  || el.id.toString().toLowerCase().startsWith(filter.id.toString().toLowerCase())
                  )
                )
              } else
              $.ajax({
                url: `#{env.backendAddr}/api/nomenclature?range=%5B0%2C1000000%5D`,
                success: function(response) {
                  deferred.resolve(data = response.map(el => {
                    el.unitId = `${el['unit.short']}`
                    el.nomenclatureClass = `${el['nm.nt.ng.nc.title']}`
                    el.nomenclatureGroup = `${el['nm.nt.ng.title']}`
                    el.nomenclatureType  = `${el['nm.nt.title']}`
                    el.nomenclatureModel = `${el['nm.title']}`
                    el.created = `${moment(el.createdAt).format('YYYY.MM.DD')}`
                    
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields
        })
        $("#cols_order").sortable({
          placeholder: 'drop-placeholder'
          });
        $( ()=> {
                  $('[data-toggle="popover"]').popover()
                })
        var activatedPopovers = []
         $('#clear-filters').click(()=>{
           $('.filter').removeClass( "fas fa-filter" ).addClass( "fal fa-filter" ); 
           activatedPopovers = []
          $("#jsGrid").jsGrid("loadData", {} ).done(function() {
            
          localStorage.removeItem('filterParams')  
            });
         })
         var headers=  $('.jsgrid-header-sortable')
      
         var initInputByField= (field)=> {
           
           var name = field.name
           var maybeParams = localStorage.getItem('filterParams') 
           
            var excistingParams =maybeParams?JSON.parse(maybeParams):{} 
            var initFilterButton = $(`<button class="btn mb-3 float-right">Применить</button>`)
            var popover = $('.popover-body')
            popover.click((event) => {
              event.stopPropagation()
            } )
            var initialValue = excistingParams[name] ?? ''
   
 
            var textInput = `<div class="form-group">
              <label for="key">
                <input class="form-control" id="input-${name}" name="input-${name}" type="text" placeholder="поиск по названию..."value="${initialValue}">
              </label>
            </div>`

            $(initFilterButton).click(() => {
             var inputValue=$(`#input-${name}` ).val()
             if(field.type=='number') inputValue = Number(inputValue)
             excistingParams[name]=inputValue
              $("#jsGrid").jsGrid("loadData", excistingParams ).done(function() {
              localStorage.setItem('filterParams',JSON.stringify(excistingParams))  
                
                });
              
              $( `#filter-${name}` ).removeClass( "fal fa-filter" ).addClass( "fas fa-filter" );  
             $(`#filter-${name}`).popover('hide')
            })
            $(popover).append(textInput)
            $(popover).append(initFilterButton)
         }
         
         fields.map((el, id)=> {
          var filter= $(`
            <i id= "filter-${el.name}" class="filter fal fa-filter p-1
              data-toggle="popover" title=" "   data-content=" "
                  >
            </i>
            `
          )
             $(headers[id]).append(filter)
           
           filter.popover({
           html:true,
         
           template:`<div class="popover" id="popover-${el.name}" role="tooltip">
           <div class="arrow"></div>
           <h3 class="popover-header">Фильтр для ${el.title}</h3>
           <div class="popover-body">Тест</div>
           </div>  `
          });
         filter.click((event) => {
           event.stopPropagation();
           activatedPopovers.map(popoverId=> {
             if(popoverId != `#filter-${el.name}`)
             $(popoverId).popover('hide')
             })
           activatedPopovers = [`#filter-${el.name}`]
           initInputByField(el) 
           })
         })  
      var tableWidth = $('#jsGrid').width()
      $('#make-me-table-width').css('max-width', `${tableWidth+32}px`)   
      })
