extends ../layout.pug

block body
  - var filterParams = query && query.filter ? JSON.parse(query.filter) : {};
  .card
    .card-header
      //a.float-left.btn.mr-3(type="button")
      //  ion-icon(name='location-outline')
      a.float-left.btn.mr-3(data-toggle="dropdown")
        i.far.fa-filter
      .dropdown-menu
        a.btn.float-left.ml-3.mb-3.mr-3.mt-3(type="button", onclick='resetAll()') Сбросисть все фильтры
      a.float-right.btn.ml-3(type="button", data-toggle="modal", data-target="#tableSettingsModal")
        ion-icon(name='settings-outline')
      a.float-right.btn.ml-3(type="button")
        i.far.fa-file-excel
      a.float-right.btn.ml-3(type="button")
        ion-icon(name='reload-outline')
      a.float-right.btn.ml-3(type="button" href="/passport/edit")
        i.ion.ion-md-add-circle-outline
        |  Добавить
    .card-body.table-body
      table#main.footable(data-paging='true', data-stop-propagation="true", data-filtering="true", data-sorting="true", data-empty="Нет данных")
        thead
          tr
            th(data-name='id', data-type="number", data-visible=query && query.hide_columns && query.hide_columns.split(',').includes('id') ? 'false' : 'true')
              .table-header Код
            th(data-name='designation', data-visible=query && query.hide_columns && query.hide_columns.split(',').includes('designation') ? 'false' : 'true')
              .table-header Обозначение
                a.filter.dropdown.ml-2(data-toggle="dropdown")
                  ion-icon.float-right(name='funnel-outline')
                .dropdown-menu
                  form.px-3.py-3
                    .form-group
                      input.titleSearch.form-control(placeholder='Поиск по названию...')
                  a.btn.float-left.ml-3.mb-3(type="button", onclick='reset()') Сброс
                  a.btn.float-right.mr-3.mb-3(type="button", onclick='apply()') Применить
            th(data-name='title', data-visible=query && query.hide_columns && query.hide_columns.split(',').includes('title') ? 'false' : 'true')
              .table-header Наименование
            th(data-breakpoints='xs', data-name='unit.short', data-visible=query && query.hide_columns && query.hide_columns.split(',').includes('unit.short') ? 'false' : 'true')
              .table-header Ед. изм.
            th(data-breakpoints='xs', data-name='nm.nt.ng.nc.title', data-visible=query && query.hide_columns && query.hide_columns.split(',').includes('nm.nt.ng.nc.title') ? 'false' : 'true')
              .table-header Класс номенклатуры
            th(data-breakpoints='xs', data-name='nm.nt.ng.title', data-visible=query && query.hide_columns && query.hide_columns.split(',').includes('nm.nt.ng.title') ? 'false' : 'true')
              .table-header Группа номенклатуры
            th(data-breakpoints='xs', data-name='nm.nt.title', data-visible=query && query.hide_columns && query.hide_columns.split(',').includes('nm.nt.title') ? 'false' : 'true')
              .table-header Тип номенклатуры
            th(data-breakpoints='xs', data-name='nm.title', data-visible=query && query.hide_columns && query.hide_columns.split(',').includes('nm.title') ? 'false' : 'true')
              .table-header Модель номенклатуры
            th(data-breakpoints='xs sm md', data-formatter='dateFormat' data-name='createdAt', data-visible=query && query.hide_columns && query.hide_columns.split(',').includes('createdAt') ? 'false' : 'true')
              .table-header Дата создания
                a.filter.dropdown.ml-2(data-toggle="dropdown")
                  ion-icon.float-right(name='funnel-outline')
                .dropdown-menu
                  form.px-3.py-3
                    .form-group
                      .input-group
                        .input-group-prepend
                          span.input-group-text
                            i.far.fa-calendar-alt
                        input#createdAt.daterange.form-control.float-right(type='text')
                  a.btn.float-left.ml-3.mb-3(type="button", onclick='resetDate("createdAt")') Сброс
                  a.btn.float-right.mr-3.mb-3(type="button", onclick='applyDate("createdAt")') Применить
        tbody
          each val in list
            tr(data-href=val.id)
              td= val['id']
              td= val['designation']
              td= val['title']
              td= val['unit.short']
              td= val['nm.nt.ng.nc.title']
              td= val['nm.nt.ng.title']
              td= val['nm.nt.title']
              td= val['nm.title']
              td= val['createdAt']
  #tableSettingsModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='tableSettingsModalTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h6#tableSettingsModalTitle.modal-title Настройка таблицы
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          table.footable(data-paging='true', data-paging-size="20")
            thead
              tr
                th() Заголовок столбца
                th() Видимость
            tbody
              tr
                td.float-left.ml-3 Код
                td
                  input(type="checkbox", name="visible", value="id", checked=(query && query.hide_columns && query.hide_columns.split(',').includes('id') ? undefined : "checked"))
              tr
                td.float-left.ml-3 Обозначение
                td
                  input(type="checkbox", name="visible", value="designation", checked=(query && query.hide_columns && query.hide_columns.split(',').includes('designation') ? undefined : "checked"))
              tr
                td.float-left.ml-3 Наименование
                td
                  input(type="checkbox", name="visible", value="title", checked=(query && query.hide_columns && query.hide_columns.split(',').includes('title') ? undefined : "checked"))
              tr
                td.float-left.ml-3 Ед. изм.
                td
                  input(type="checkbox", name="visible", value="unit.short", checked=(query && query.hide_columns && query.hide_columns.split(',').includes('unit.short') ? undefined : "checked"))
              tr
                td.float-left.ml-3 Класс номенклатуры
                td
                  input(type="checkbox", name="visible", value="nm.nt.ng.nc.title", checked=(query && query.hide_columns && query.hide_columns.split(',').includes('nm.nt.ng.nc.title') ? undefined : "checked"))
              tr
                td.float-left.ml-3 Группа номенклатуры
                td
                  input(type="checkbox", name="visible", value="nm.nt.ng.title", checked=(query && query.hide_columns && query.hide_columns.split(',').includes('nm.nt.ng.title') ? undefined : "checked"))
              tr
                td.float-left.ml-3 Тип номенклатуры
                td
                  input(type="checkbox", name="visible", value="nm.nt.title", checked=(query && query.hide_columns && query.hide_columns.split(',').includes('nm.nt.title') ? undefined : "checked"))
              tr
                td.float-left.ml-3 Модель номенклатуры
                td
                  input(type="checkbox", name="visible", value="nm.title", checked=(query && query.hide_columns && query.hide_columns.split(',').includes('nm.title') ? undefined : "checked"))
              tr
                td.float-left.ml-3 Дата создания
                td
                  input(type="checkbox", name="visible", value="createdAt", checked=(query && query.hide_columns && query.hide_columns.split(',').includes('createdAt') ? undefined : "checked"))

        .modal-footer.justify-content-between
          button.btn(type='button' data-dismiss='modal') Отмена
          button#settingsModalSave.btn(type='button') Сохранить
  #myModal
append script
  script.
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
  script.
    $(() => {
      $('table').footable();

      $('tr[data-href]').on("click", function (e) {
        if (!$(e.target).hasClass('footable-toggle')) {
          document.location.href = `/passport/edit/${$(this).data('href')}`;
        }
      });

      $('#settingsModalSave').on("click", function () {
        let arr = [];
        $("input:checkbox[name='visible']").each(function () {
          if (!this.checked) {
            arr.push($(this).val());
          }
        });
        document.location.href = `/passport?hide_columns=${arr}`
      });

      $(document).on('click', '.dropdown-menu', function (e) {
        e.stopPropagation();
      });

      $(document).on('click', 'span.month, th.next, th.prev, th.switch, span.year, .applyBtn, .cancelBtn, .daterangepicker', function (e) {
        e.stopPropagation();
      });

      $('body').on('shown.bs.dropdown', function () {
        $('.footable-filtering-search').html('');
        $(this).find('select').each(function () {
          let dropdownParent = $(document.body);

          if ($(this).parents('.dropdown.in:first').length !== 0)
            dropdownParent = $(this).parents('.dropdown.in:first');

          $(this).select2({
            dropdownParent,
            placeholder: 'Поиск по названию...',
            dropdownParent: $(this).parent()
          });
        });

        $('.daterange').daterangepicker({
          locale: {
            "format": "DD.MM.YYYY",
            "applyLabel": "Применить",
            "cancelLabel": "Сбросить",
            "daysOfWeek": [
              "Пн",
              "Вт",
              "Ср",
              "Чт",
              "Пт",
              "Сб",
              "Вс"
            ],
            "monthNames": [
              "Январь",
              "Февраль",
              "Март",
              "Апрель",
              "Май",
              "Июнь",
              "Июль",
              "Август",
              "Сентябрь",
              "Октябрь",
              "Ноябрь",
              "Декабрь"
            ],
          },
          linkedCalendars: false,
          // startDate: "08/13/2021",
          // endDate: "08/19/2021"
        });
      });
    })
  script.
    function apply() {
      let filtering = FooTable.get('#main').use(FooTable.Filtering), // get the filtering component for the table
              filter = $('.titleSearch').val(); // get the value to filter by
      console.log(filter);
      if (!filter) { // if the value is "none" remove the filter
        filtering.removeFilter('title');
      } else { // otherwise add/update the filter.
        filtering.addFilter('title', filter, ['title']);
      }
      filtering.filter();
    }
  script.
    function reset() {
      let filtering = FooTable.get('#main').use(FooTable.Filtering),
              filter = $('.titleSearch')
      filter.val('');
      filtering.removeFilter('title');
    }
  script.
    function applySelect() {
      let filter = $('select').val();
      let currentFilter = params && params.filter ? JSON.parse(params.filter) : {};
      let searchParams = new URLSearchParams();
      searchParams.set("filter", JSON.stringify({ extra: filter, ...currentFilter }));
      document.location.href = `/passport?${searchParams}&hide_columns=${params.hide_columns}`
    }
  script.
    function resetSelect() {
      document.location.href = `/passport?hide_columns=${params.hide_columns}`
    }
  script.
    function applyDate(key, id) {
      let currentFilter = params && params.filter ? JSON.parse(params.filter) : {};
      let filter = $('body').find(`#${id ? id : key}`).data('daterangepicker');
      let dtStart = filter.startDate.format('YYYY-MM-DDTHH:mm:ss.SSS');
      let dtEnd = filter.endDate ? filter.endDate.format('YYYY-MM-DDTHH:mm:ss.SSS') : filter.startDate.format('YYYY-MM-DDTHH:mm:ss.SSS');
      let searchParams = new URLSearchParams();
      let filterParams = {};
      filterParams[key] = [ dtStart, dtEnd ]
      searchParams.set("filter", JSON.stringify({ ...filterParams, ...currentFilter }));
      document.location.href = `/passport?${searchParams}&hide_columns=${params.hide_columns}`
    }
  script.
    function resetDate(key) {
      document.location.href = `/passport?hide_columns=${params.hide_columns}`
    }
  script.
    function resetAll() {
      document.location.href = `/passport?hide_columns=${params.hide_columns}`;
    }
  script.
    function applyCheckbox() {
      let filter = [];
      let currentFilter = params && params.filter ? JSON.parse(params.filter) : {};

      $("input:checkbox[name='counterpartyTitle']:checked").each(function () {
        filter.push($(this).val());
      });
      let searchParams = new URLSearchParams();
      searchParams.set("filter", JSON.stringify({ 'counterparty.title': filter, ...currentFilter }));
      document.location.href = `/passport?${searchParams}&hide_columns=${params.hide_columns}`
    }
  script.
    function resetCheckbox() {
      document.location.href = `/passport?hide_columns=${params.hide_columns}`
    }
  script.
    function dateFormat(value) {
      return value ? moment(value).format('DD.MM.YYYY') : '';
    }
