extends ../layout.pug

block body
  .card
    .card-header
       h3.card-title Номенклатура
       a.float-right.btn.btn-success(type="button" href="/nomenclature/edit") Добавить
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          filtering: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/nomenclature/edit/${args.item.id}`
          },
          controller: {
            loadData: () => {
              var deferred = $.Deferred();
              $.ajax({
                url: `http://${window.location.hostname}:8090/api/nomenclature`,
                success: function(response) {
                  deferred.resolve(response.map(el => {
                    el.unit = `${el['unit.title']} (${el['unit.short']})`
                    el.model = `${el['nm.nt.ng.nc.id']}.${el['nm.nt.ng.id']}.${el['nm.nt.id']}.${el['nm.id']}\t` +
                      `${el['nm.nt.ng.nc.title']} > ${el['nm.nt.ng.title']} > ${el['nm.nt.title']} > ${el['nm.title']}`
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields: [
            { title: "Код", name: "id" },
            { title: "Обозначание", name: "designation" },
            { title: "Наименование", name: "title" },
            { title: "Ед. Изм.", name: "unit" },
            { title: "Классификация номенклатуры", name: "model" },
            { title: "Дата создания", name: "createdAt" },
          ]
        })
      })