extends ../layout.pug

block breadcrumbs
  li.breadcrumb-item.active(aria-current="page") Номенклатура

block body
  #table-configuration-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="table-configuration-modal-label" aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h5#table-configuration-modal-label.modal-title Настройка таблицы
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
              ul#cols_order.list-group
                li.list-group-item.hr.inactive-zone Скрытая область

            .modal-footer
              
              button#cols_reset.btn.btn-danger.mr-auto(type="button" data-dismiss="modal") Сбросить
              button.btn.btn-secondary(type="button" data-dismiss="modal") Отмена
              button#cols_apply.btn.btn-primary(type="button") Применить

  .card#make-me-table-width
    .card-header
      .float-left 
        button#filters-state-button.btn.btn-primary.d-flex.justify-content-center.align-items-center(data-toggle="popover" title=" " data-content=" ")
          i.fal.fa-filter
          span#filters-count-badge.green-circle-badge.d-none 
      .float-right
        a.btn.btn-success(type="button" href="/nomenclature/edit")
          i.far.fa-plus-circle
          span.add-btn-text|  Добавить
        | &nbsp; 
        a.btn.btn-primary(type="button" href="/download/nomenclature")
          i.fa.fa-file-excel   
        | &nbsp;          
        button.btn.btn-primary(type="button" data-toggle="modal" data-target="#table-configuration-modal")
          i.far.fa-cog
        | &nbsp;


          
    .card-body
      #jsGrid
      #externalPager.float-right

append script
  script.

    window.table_url = 'nomenclature'

    window.fields =
    [
      { title: "Код",                 name: "id",                 type: "number", width: 70, },
      { title: "Обозначение",         name: "designation",        type: "text",   width: 140 },
      { title: "Наименование",        name: "title",              type: "text",   width: 280 },
      { title: "Ед изм.",             name: "unitId",             type: "text",   width: 110,},
      { title: "Класс",               name: "nomenclatureClass",  type: "text",   width: 220,},
      { title: "Группа",              name: "nomenclatureGroup",  type: "text",   width: 220,},
      { title: "Тип",                 name: "nomenclatureType",   type: "text",   width: 220, },
      { title: "Модель",              name: "nomenclatureModel",  type: "text",   width: 220,},
      { title: "Дата создания",       name: "createdAt",          type: "date",   width: 180, cellRenderer: table_formatter.date },
    ]

    window.table_formatter = el => {
      el.unitId = `${el['unit.short']}`
      el.nomenclatureClass = `${el['nm.nt.ng.nc.title']}`
      el.nomenclatureGroup = `${el['nm.nt.ng.title']}`
      el.nomenclatureType  = `${el['nm.nt.title']}`
      el.nomenclatureModel = `${el['nm.title']}`
      return el
    }

  script(src='/public/js/table.js')
