extends ../layout.pug

block body
  .card
    .card-header
       h3.card-title Типы номенклатуры
       a.float-right.btn.btn-success(type="button" href="/nomenclaturetype/edit") Добавить
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/nomenclaturetype/edit/${args.item.id}`
          },
          controller: {
            loadData: () => {
              var deferred = $.Deferred();
              $.ajax({
                url: `http://${window.location.hostname}:8090/api/nomenclaturetype`,
                success: function(response) {
                  deferred.resolve(response.map(el => {
                    el.type = `${el['ng.nc.code']}.${el['ng.code']}\t` +
                      `${el['ng.nc.title']} > ${el['ng.title']}`
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields: [
            { title: "Код", name: "code" },
            { title: "Тип", name: "title" },
            { title: "Родитель", name: "type" },
          ]
        })
      })