extends ../layout.pug

block breadcrumbs
  li.breadcrumb-item: a(href="/passport") Оборудование
  if instance
    li.breadcrumb-item.active(aria-current="page") Изменение оборудования
  else
    li.breadcrumb-item.active(aria-current="page") Новое оборудование

block body
  - var instance = instance || {}
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      if instance.id
        h3.card-title Редактирование оборудования
      else
        h3.card-title Новое оборудование
    .card-body
      if instance.id
        +dummy_input('id', 'Код')
      .row
        .col-xl-3.col-lg-6
          - nomenclature.map(el => el['__title'] = el.title)
          +select2_required('nomenclatureId', 'Номенклатура', nomenclature)
        .col-xl-3.col-lg-6
          +input('title',  'Наименование')
        .col-xl-3.col-lg-6
          +input('serial',  'Серийный номер')
        .col-xl-3.col-lg-6
          +input_required('factory_id',  'Заводской номер')
        .col-xl-3.col-lg-6
          +input('partnumber',  'Номер партии')
        .col-xl-3.col-lg-6
          - counterparty.map(el => el['__title'] = el.title)
          +select_required('counterpartyId', 'Изготовитель', counterparty)
        .col-xl-3.col-lg-6
          +dateonly_single_required('produced', 'Дата изготовления')
        .col-xl-3.col-lg-6
          +dateonly_single('commissioned', 'Ввод в эксплуатацию')
        .col-xl-3.col-lg-6
          +input_required('state', 'Состояние')
        .col-xl-3.col-lg-6
          +input('extra', 'Особые отметки')
      if instance.commissions && instance.commissions.length
        h6 Текущее закрепление
        hr
        .row
          .col-xl-3.col-lg-6
            - instance.mo = instance.commissions[0].branch.title
            +dummy_input('mo', 'Медицинская организация')
          .col-xl-3.col-lg-6
            +dummy_input('mo', 'Подразделение мед. орг.')
          .col-xl-3.col-lg-6
            - instance.mac = instance.commissions[0].mac
            +dummy_input('mac', 'MAC-адрес')
          .col-xl-3.col-lg-6
            - instance.ip = instance.commissions[0].ip
            +dummy_input('ip', 'IP-адрес')
      //
        .col-xl-3.col-lg-6
          +dummy_input('warranty', 'Гарантия (мес)')
        .col-xl-3.col-lg-6
          +dummy_input('warranty_expiration', 'Истечение гарантии')
        .col-xl-3.col-lg-6
          +dummy_input('accepted_runtime', 'Допустимая наработка')
        .col-xl-3.col-lg-6
          +dummy_input('max_runtime', 'Максимальная наработка')

      // .row
        +inspect_local('instance')

      hr
      ul#tabs.nav.nav-tabs(role="tablist")
        li.nav-item
          a#part-tab.nav-link.active(data-toggle="tab" href="#part" role="tab" aria-controls="part" aria-selected="true") Комплектность
        li.nav-item
          a#value-tab.nav-link(data-toggle="tab" href="#value" role="tab" aria-controls="value" aria-selected="false") Тех. параметры
        li.nav-item
          a#commission-tab.nav-link(data-toggle="tab" href="#commission" role="tab" aria-controls="commission" aria-selected="false") Закрепление оборудования
        li.nav-item
          a#toro-tab.nav-link(data-toggle="tab" href="#toro" role="tab" aria-controls="toro" aria-selected="false") Учет работ/неисправ.
        li.nav-item
          a#warranty-tab.nav-link(data-toggle="tab" href="#warranty-content" role="tab" aria-controls="warranty-content" aria-selected="false") Гарантия
        li.nav-item
          a#runtime-tab.nav-link(data-toggle="tab" href="#runtime" role="tab" aria-controls="runtime" aria-selected="false") Наработка
      #tabsContent.tab-content
        #part.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="part-tab")
          table#part-grid.footable(data-paging="true", data-empty="Нет данных")
            thead
              tr
                th(data-name="id") №
                th(data-name="nomenclature.title") Номенклатура
                th(data-name="quantity") Количество
                th(data-name="unit.short") Ед.изм
        #value.tab-pane.fade(role="tabpanel" aria-labelledby="value-tab")
          table#params-grid.footable(data-paging="true", data-empty="Нет данных")
            thead
              tr
                th(data-name="id") №
                th(data-name="param") Параметр
                th(data-name="value") Значение
                th(data-name="unit.short") Единица измерения
        #commission.tab-pane.fade(role="tabpanel" aria-labelledby="commission-tab")
          table#commission-grid.footable(data-paging="true", data-empty="Нет данных")
            thead
              tr
                th(data-name="id") №
                th(data-name="branch.title") МО
                th(data-name="branch.title") Подразделение
                th(data-name="commission_id") № документа основания
                th(data-name="commissioned") Дата документа основания
                th(data-name="inventory_id") Инв. №
                th(data-name="ip") IP адрес
                th(data-name="mac") MAC адрес
          a.float-left.btn.mt-3(type="button" href=`/commission/edit?passportId=${instance.id}`)
            i.ion.ion-md-add-circle-outline
            |  Создать новое закрепление
        #toro.tab-pane.fade(role="tabpanel" aria-labelledby="toro-tab")
          table#toro-grid.footable(data-paging="true", data-empty="Нет данных")
            thead
              tr
                th(data-name="id") №
                th(data-name="registered") Дата и время работ
                th(data-name="description") Характер работ
                th(data-name="runtime") Кол-во наработки (час)
                th(data-name="toro_start") Дата начала работ (факт)
                th(data-name="toro_end") Дата оконч. работ (факт)
                th(data-name="branch.title") Ответств. подразделение
        #warranty-content.tab-pane.fade(role="tabpanel" aria-labelledby="warranty-tab")
          table#warranty-grid.footable(data-paging="true", data-empty="Нет данных")
            thead
              tr
                th(data-name="id") №
                th(data-name="warranty_runtime") Гарантийная наработка
                th(data-name="warranty") Срок гарантии (мес)
                th(data-name="expiration") Окончание гарантии
          a.float-left.btn.mt-3(type="button" href=`/warranty/edit?passportId=${instance.id}`)
            i.ion.ion-md-add-circle-outline
            |  Создать гарантию
        #runtime.tab-pane.fade(role="tabpanel" aria-labelledby="runtime-tab")
          table#runtime-grid.footable(data-paging="true", data-empty="Нет данных")
            thead
              tr
                th(data-name="id") №
                th(data-name="createdAt") Дата фиксации текущей наработки
                th(data-name="current") Текущая наработка
                th(data-name="accepted") Допустимая наработка
                th(data-name="max") Предельная наработка
          a.float-left.btn.mt-3(type="button" href=`/runtime/edit?passportId=${instance.id}`)
            i.ion.ion-md-add-circle-outline
            |  Создать наработку

    .card-footer
      if instance.id
        button.btn.float-right.ml-3(type="submit") Сохранить
        a.btn.float-right.ml-3(href="/passport") Отмена
        // a.float-left.btn(href=`/passport/delete/${instance.id}`) Удалить
      else
        button.btn.float-right(type="submit") Добавить

append script
  if instance.id
    script.
      $(() => {
        $('#part-grid').footable({
          "rows": $.get(`#{env.backendAddr}/api/complectation?filter=%7b"nomenclatureId":#{instance.nomenclatureId || 0}%7d`)
        });
      })

    script.
      $(() => {
        $('#params-grid').footable({
          "rows": $.get(`#{env.backendAddr}/api/value?filter=%7b"passportId":#{instance.id || 0}%7d`)
        });
      })

    script.
      $(() => {
        $('#commission-grid').footable({
          "rows": $.get(`#{env.backendAddr}/api/commission?filter=%7b"passportId":#{instance.id || 0}%7d`)
        });
      })

    script.
      $(() => {
        $('#toro-grid').footable({
          "rows": $.get(`#{env.backendAddr}/api/toro?filter=%7b"passportId":#{instance.id || 0}%7d`)
        });
      })

    script.
      $(() => {
        $('#warranty-grid').footable({
          "rows": $.get(`#{env.backendAddr}/api/warranty?filter=%7b"passportId":#{instance.id || 0}%7d`)
        });
      })

    script.
      $(() => {
        $('#runtime-grid').footable({
          "rows": $.get(`#{env.backendAddr}/api/runtime?filter=%7b"passportId":#{instance.id || 0}%7d`)
        });
      })
