extends ../layout.pug

block body
  - var instance = instance || {}
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      h3.card-title Новый паспорт
    .card-body
      +dummy_input('id', 'Код')
      .form-group
        label(for="nomenclatureId") Номенклатура
        select#unitId.form-control(name="nomenclatureId")
          option(value='') ___
          each val in nomenclature
            if instance.nomenclatureId == val.id
              option(selected value=val.id)= val.title
            else
              option(value=val.id)= val.title
      .form-group
        label(for="counterpartyId") Производитель
        select#counterpartyId.form-control(name="counterpartyId")
          option(value='') ___
          each val in counterparty
            if instance.counterpartyId == val.id
              option(selected value=val.id)= val.title
            else
              option(value=val.id)= val.title
      +input('factory_id',  'Заводской номер')
      +input('produced', 'Произведён')
      +input('commissioned', 'Введён в эксплуатацию')
      +input('warranty', 'Гарантия (мес)')
      +input('warranty_expiration', 'Истечение гарантии')
      +input('accepted_runtime', 'Допустимая наработка')
      +input('max_runtime', 'Максимальная наработка')
      +input('extra', 'Особые отметки')

      if instance.id
        hr
        ul#tabs.nav.nav-tabs(role="tablist")
          li.nav-item
            a#part-tab.nav-link.active(data-toggle="tab" href="#part" role="tab" aria-controls="part" aria-selected="true") Комплектация
          li.nav-item
            a#value-tab.nav-link(data-toggle="tab" href="#value" role="tab" aria-controls="value" aria-selected="false") Тех. параметры
          li.nav-item
            a#commission-tab.nav-link(data-toggle="tab" href="#commission" role="tab" aria-controls="commission" aria-selected="false") Закрепления оборудования
          li.nav-item
            a#toro-tab.nav-link(data-toggle="tab" href="#toro" role="tab" aria-controls="toro" aria-selected="false") Учет работ и неисправностей
        #tabsContent.tab-content
          #part.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="part-tab")
            a.float-right.btn.btn-success(type="button" href=`/part/edit?passportId=${instance.id}`)
              i.ion.ion-md-add-circle-outline
              |  Добавить
            #part-grid
          #value.tab-pane.fade(role="tabpanel" aria-labelledby="value-tab")
            each param in value
              - instance['value_' + param.id] = param.value
            each param in enabledparameters
              - var _label = param['nomenclature_parameter.title'] + ' (' + param['nomenclature_parameter.unit.short'] + ')'
              - var _id = 'value_' + param.nomenclatureParameterId
              +input(_id, _label)
          #commission.tab-pane.fade(role="tabpanel" aria-labelledby="commission-tab")
            a.float-right.btn.btn-success(type="button" href=`/commission/edit?passportId=${instance.id}`)
              i.ion.ion-md-add-circle-outline
              |  Добавить
            #commission-grid
          #toro.tab-pane.fade(role="tabpanel" aria-labelledby="toro-tab")
            a.float-right.btn.btn-success(type="button" href=`/toro/edit?passportId=${instance.id}`)
              i.ion.ion-md-add-circle-outline
              |  Добавить
            #toro-grid

    .card-footer
      if instance.id
        button.btn.btn-primary(type="submit") Сохранить
        a.float-right.btn.btn-danger(href=`/passport/delete/${instance.id}`) Удалить
      else
        button.btn.btn-primary(type="submit") Добавить

append script
    script.
      $(() => {
        $('#part-grid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          filtering: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/part/edit/${args.item.id}`
          },
          controller: {
            loadData: () => {
              var deferred = $.Deferred();
              $.ajax({
                url: `http://${window.location.hostname}:8090/api/part`,
                success: function(response) {
                  deferred.resolve(response.map(el => {
                    el.passport = `${el['passport.factory_id']} (${el['passport.nomenclature.title']})`
                    el.nomenclature = `${el['nomenclature.title']}`
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields: [
            { title: "Код", name: "id" },
            { title: "Деталь", name: "nomenclature", type: "text" },
            { title: "Количество", name: "quantity", type: "text" },
          ]
        })
      })

    script.
      $(() => {
        $('#commission-grid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          filtering: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/commission/edit/${args.item.id}`
          },
          controller: {
            loadData: () => {
              var deferred = $.Deferred();
              $.ajax({
                url: `http://${window.location.hostname}:8090/api/commission`,
                success: function(response) {
                  deferred.resolve(response.map(el => {
                    el.factory_id = `${el['passport.factory_id']}`
                    el.branch = `${el['branch.title']}`
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields: [
            { title: "Код", name: "id" },
            { title: "Номер документа", name: "commission_id" },
            { title: "Дата закрепления", name: "commissioned" },
            { title: "Инвентарный номер", name: "inventory_id" },
            { title: "IP адрес", name: "ip" },
            { title: "MAC адрес", name: "mac" },
            { title: "Заводской номер", name: "factory_id" },
            { title: "Подразделение", name: "branch" },
          ]
        })
      })

    script.
      $(() => {
        $('#toro-grid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          filtering: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/toro/edit/${args.item.id}`
          },
          controller: {
            loadData: () => {
              var deferred = $.Deferred();
              $.ajax({
                url: `http://${window.location.hostname}:8090/api/toro`,
                success: function(response) {
                  deferred.resolve(response.map(el => {
                    el.factory_id = `${el['passport.factory_id']}`
                    el.branch = `${el['branch.title']}`
                    el.malfunction = `${el['malfunction_type.title']}`
                    el.repair = `${el['repair_type.title']}`
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields: [
            { title: "Код", name: "id" },
            { title: "Зарегистрирован", name: "registered" },
            { title: "Описание", name: "description" },
            { title: "Наработка", name: "runtime" },
            { title: "Начало ТОРО", name: "toro_start" },
            { title: "Окончание ТОРО", name: "toro_end" },
            { title: "Затраты", name: "labor_cost" },
            { title: "Заводской номер", name: "factory_id" },
            { title: "Подразделение", name: "branch" },
            { title: "Неисправность", name: "malfunction" },
            { title: "Ремонт", name: "repair" },
          ]
        })
      })
