extends ../layout.pug

block breadcrumbs
  li.breadcrumb-item.active(aria-current="page") Оборудование
 

block body
  #table-configuration-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="table-configuration-modal-label" aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h5#table-configuration-modal-label.modal-title Настройка таблицы
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
              ul#cols_order.list-group
                li.list-group-item.hr.inactive-zone Скрытая область

            .modal-footer
              
              button#cols_reset.btn.btn-danger.mr-auto(type="button" data-dismiss="modal") Сбросить
              button.btn.btn-secondary(type="button" data-dismiss="modal") Отмена
              button#cols_apply.btn.btn-primary(type="button") Применить

  .card#make-me-table-width
    .card-header
      .float-left 
        button#filters-state-button.btn.btn-primary.d-flex.justify-content-center.align-items-center(data-toggle="popover" title=" " data-content=" ")
          i.fal.fa-filter
          span#filters-count-badge.green-circle-badge.d-none
      .float-right
        a.btn.btn-success(type="button" href="/passport/edit")
          i.far.fa-plus-circle
          span.add-btn-text|  Добавить
        | &nbsp; 
        a.btn.btn-primary(type="button" href="/download/nomenclature")
          i.fa.fa-file-excel   
        | &nbsp;          
        button.btn.btn-primary(type="button" data-toggle="modal" data-target="#table-configuration-modal")
          i.far.fa-cog
        | &nbsp;
    .card-body
      #jsGrid
      #externalPager.float-right
      
      
append script
    script.
      window.table_url = 'passport'

      window.fields = [
        { title: "Код",               name: "id",                 type: "number", width: 70,  },
        { title: "Модель",            name: "model",              type: "text",   width: 240 },
        { title: "Заводской номер",   name: "vendor_id",          type: "text",   width: 280 },
        { title: "Сер. №",            name: "serial",             type: "text", },
        { title: "№ партии",          name: "partnumber",         type: "text", width: 120},
        { title: "Изготовлен",        name: "produced",           type: "date", width: 130, cellRenderer: table_formatter.date  },
        { title: "Состояние",         name: "state",              type: "text", width: 150 },
        { title: "Изотовитель",       name: "vendor",             type: "text", width: 130},
        { title: "MAC адрес",         name: "mac",                type: "text", width: 120 },
        { title: "IP адрес",          name: "ip",                 type: "text", },
        { title: "MO",                name: "mo",                 type: "text", width: 150 },
        { title: "Особые отметки",    name: "extra",              type: "text", width: 240 },
        { title: "Дата создания",     name: "createdAt",          type: "date", width: 160, cellRenderer: table_formatter.date },
      ]
      window.table_formatter = (el, n) => {
        el.model = `${el['nomenclature.model'] || ''}`
        el.vendor_id = `${el['nomenclature.vendor_id'] || ''}`
        el.vendor = `${el['nomenclature.nv.title'] || ''}`
        el.mac = `${el['commissions.mac'] || ''}`
        el.ip = `${el['commissions.ip'] || ''}`
        el.mo = `${el['commissions.branch.title'] || ''}`
        return el
      }

    script(src='/public/js/table.js')
