extends ../layout.pug

block breadcrumbs
  li.breadcrumb-item.active(aria-current="page") Оборудование
 

block body
  #table-configuration-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="table-configuration-modal-label" aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h5#table-configuration-modal-label.modal-title Настройка таблицы
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
              ul#cols_order.list-group
                li.list-group-item.hr.inactive-zone Незакрепленная область

            .modal-footer
              
              button#cols_reset.btn.btn-danger.mr-auto(type="button" data-dismiss="modal") Сбросить
              button.btn.btn-secondary(type="button" data-dismiss="modal") Отмена
              button#cols_apply.btn.btn-primary(type="button") Применить

  .card
    .card-header
      .float-left 
        btn#clear-filters.btn.btn-danger очистить фильтры 
      .float-right
        a.btn.btn-success(type="button" href="/passport/edit")
          i.far.fa-plus-circle
          |  Добавить
        | &nbsp; 
        a.btn.btn-primary(type="button" href="/download/nomenclature")
          i.fa.fa-file-excel   
        | &nbsp;          
        button.btn.btn-primary(type="button" data-toggle="modal" data-target="#table-configuration-modal")
          i.far.fa-cog
        | &nbsp;
    .card-body
      #jsGrid
      #externalPager.float-right
append script
    script.
      window.table_url = 'passport'
  
      var fields = [
        { title: "Код",               name: "id",                 type: "number", width: 70,  },
        { title: "Оборудование",      name: "nomenclatureTitle",  type: "text",   width: 240 },
        { title: "Заводской номер",   name: "factory_id",         type: "text",   width: 280 },
        { title: "Сер. №",            name: "serial",             type: "text", },
        { title: "№ партии",          name: "partnumber",         type: "text", width: 120},
        { title: "Изготовлен",        name: "produced",           type: "date",   width: 110 },
        { title: "Состояние",         name: "state",              type: "text", },
        { title: "Изотовитель",       name: "provisioner",        type: "text", width: 130},
        { title: "MAC адрес",         name: "mac",                type: "text", width: 120 },
        { title: "IP адрес",          name: "ip",                 type: "text", },
        { title: "MO",                name: "mo",                 type: "text", width: 150 },
        { title: "Особые отметки",    name: "extra",              type: "text", width: 240 },
        { title: "Дата создания",     name: "created",            type: "date", width: 160},
      ]
      window.table_formatter = el => {
        el.nomenclatureTitle = `${el['nomenclature.title']}`
        el.createdAt = `${moment(el.createdAt).format('YYYY.MM.DD HH:mm:ss')}`
        el.created = `${moment(el.createdAt).format('YYYY.MM.DD')}`
        el.producedAt = `${moment(el.produced).format('YYYY.MM.DD HH:mm:ss')}`
        el.produced = `${moment(el.produced).format('YYYY.MM.DD HH:mm:ss')}`
        el.mac = `${el['commissions.mac'] || ''}`
        el.ip = `${el['commissions.ip'] || ''}`
        el.mo = `${el['commissions.branch.title'] || ''}`
        return el
      }
      
    script(src='/public/js/table.js')
      