extends ../layout.pug

block body
  .card
    .card-header
      a.float-left.btn.mr-3(type="button")
        ion-icon(name='location-outline')
      a.float-left.btn.mr-3(type="button")
        ion-icon(name='funnel-outline')
      a.float-right.btn.ml-3(type="button")
        ion-icon(name='settings-outline')
      a.float-right.btn.ml-3(type="button")
        ion-icon(name='reload-outline')
      a.float-right.btn.ml-3(type="button" href="/passport/edit")
        i.ion.ion-md-add-circle-outline
        |  Добавить

    table.footable(data-paging='true', data-sorting="true")
      thead
        tr
          th(data-breakpoints='xs', data-name='id', data-type="number") Код
          th(data-breakpoints='xs', data-name='nomenclature.title') Оборудование
          th(data-breakpoints='xs', data-name='nomenclature.createdAt', data-format-string="MMMM Do YYYY") Дата изготовления
          th(data-breakpoints='xs', data-name='factory_id') Заводской номер
          th(data-breakpoints='xs', data-name='warranty', data-type="number") Срок гарантии (мес.)
          th(data-breakpoints='xs', data-name='nomenclature.createdAt', data-format-string="MMMM Do YYYY") Дата начала гарантии
          th(data-breakpoints='xs', data-name='warranty_expiration', data-format-string="MMMM Do YYYY") Дата окончания гарантии
          th(data-breakpoints='xs', data-name='counterparty.title') Изотовитель
      tbody
        each val in list
          tr(data-href=val.id)
            td= val['id']
            td= val['nomenclature.title']
            td= val['nomenclature.createdAt']
            td= val['factory_id']
            td= val['warranty']
            td= val['nomenclature.createdAt']
            td= val['warranty_expiration']
            td= val['counterparty.title']
append script
  script.
    $(() => {
      $('table').footable();
      $('tr[data-href]').on("click", function () {
        document.location.href = `/passport/edit/${$(this).data('href')}`;
      });
    })
