doctype html
html(lang='en')
  include mixin.pug
  include ../../public/filterManager/index.pug
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
      title Maximus Инженер
    block css
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback')
      //link(rel='stylesheet', href='/plugins/fontawesome-free/css/all.css')
      link(rel='stylesheet', href='/dist/css/adminlte.min.css')
      link(rel='stylesheet', href='/dist/bootstrap.css')
      link(rel='stylesheet', href='/plugins/jsgrid/jsgrid.css')
      link(rel='stylesheet', href='/plugins/jsgrid/jsgrid-theme.css')
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' rel='stylesheet')

      style.
        body { color: #c9ebff;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        }
        .content-wrapper { background: #121b25 }

        #firstMenuOpenIcon{
          transform: rotate(0deg);
          transition: transform 0.4s linear;
        }

        #firstMenuOpenIcon.open{
          transform: rotate(180deg);
          transition: transform 0.4s linear;
        }

        .main-footer { background: #121b25 }
        .card { border-radius: 4px }
        .card-header { background: #213345;}
        .card-header:first-child { border-radius: 4px 4px 0 0; }
        .card-body { background: #213345 }
        .card-footer { background: #213345 }
        .card-footer:last-child { border-radius: 0 0 4px 4px; }
        .form-control, .form-control:focus, option, input { background-color: #142333; color: #c9ebff }
        .jsgrid-grid-header input { border: 1px solid #80c5ed !important }
        .form-control:disabled { background-color: #1F2A38; cursor: not-allowed; color: #c9ebff }
        .btn { background-color: #2a445e; color: #c9ebff; border-radius: 3px }

        .jsgrid-load-shader { opacity: 1; background-color: #213345; }
        .jsgrid-load-panel { background-color: #213345; color: #c9ebff; border: 2px solid #80c5ed; }

        .jsgrid-header-cell {font-weight: 700;}
        .jsgrid-header-sortable .filter {
          float: right;
        }

        .add-btn-text {
          display:none;
        }

        @media (min-width: 576px) {
          .add-btn-text {
            display:inline;
          }
        }

        .popover {
          background: rgba(37, 56, 78, 1);

        }
        .select2{
          z-index: 1000;
        }
        .popover .arrow::after{
           border-right-color: rgba(37, 56, 78, 1);
        }


        #clear-filters {
          padding-bottom: 8px;
          border-bottom: 1px solid #80C5ED;
        }
        #clear-sorting {
          margin-top: 8px;
          margin-bottom: 16px;
        }

        .ui-sortable .item{
          user-select: none;
          cursor: pointer;
        }
         .jsgrid-filter-wrapper {width:100%; display:flex; justify-content: flex-end;}
        .jsgrid-header-sortable::before { float: right; margin-top: 8px; border-top-color: #80c5ed; border-bottom-color: #80c5ed;}
        .jsgrid-table { font-size: 0.8em}
        .jsgrid-filter-row > .jsgrid-cell { background: #142333; border-color: #30485c }
        .jsgrid-header-row > .jsgrid-header-cell { background: #142333; border-color: #30485c;color: #80C5ED; }

        .jsgrid-row > .jsgrid-cell, .jsgrid-alt-row > .jsgrid-cell, .jsgrid-nodata-row > .jsgrid-cell { border-color: #30485c; background: #213345 }

        .jsgrid-row:hover > .jsgrid-cell, .jsgrid-alt-row:hover > .jsgrid-cell, .jsgrid-nodata-row:hover > .jsgrid-cell {
          background: #2A445E;}

        .overflow-x { overflow-x: scroll; }
        .jsgrid-grid-body { overflow-x: visible; }
        .jsgrid-grid-header, .jsgrid-grid-body { border-color: #30485c; overflow-y: auto; }
        .jsgrid-pager-page, .jsgrid-pager-nav-button { color: #73D0F5; border: 1px solid #385775; margin: 2px; border-radius: 5px; font-weight: 400; }
        .jsgrid-pager-page a, .jsgrid-pager-nav-button a { text-decoration: none;color:#C9EBFF }
        .jsgrid-pager-current-page { border: 1px solid #73D0F5; color: #73D0F5; }

        ol.breadcrumb { background: none; margin: 0; }
        ol.breadcrumb li a { text-decoration: none; }
        #filters-state-button {
          width: 32px;
          height: 32px;
          border: none;
          position: relative;
        }
        .green-circle-badge {
          bottom: 80%;
          left: 80%;
          position: absolute;
          font-weight: 700;
          font-size: 11px;
          background-color: #28a745;
          padding: 0px 6.5px 0px 6px;
          border-radius: 8px;
        }
        .select2-selection__rendered {
          padding-top:5px;
        }
        .jsgrid-header-sort:before {
          content: none;
        }
        .fal.fa-calendar {
          color: #718EAB;
        }
        .jsgrid-header-sortable > .fa-arrow-up:before,
        .jsgrid-header-sortable > .fa-arrow-down:before {
          display: none;
        }
        .jsgrid-header-sortable >.fa-arrow-initial:before {
          display: block;
        }

        .jsgrid-header-sort-asc > .fa-arrow-up:before {
          display: block;
        }
        .jsgrid-header-sort-asc > .fa-arrow-down:before ,
        .jsgrid-header-sort-asc > .fa-arrow-initial:before  {
          display: none;
        }
        .jsgrid-header-sort-desc > .fa-arrow-down:before {
          display: block;
        }
        .jsgrid-header-sort-desc > .fa-arrow-up:before ,
        .jsgrid-header-sort-desc > .fa-arrow-initial:before  {
          display: none;
        }
        .sort-arrow {
            margin-top: 4px;
        }
        .select2-container {
          min-width:150px;
        }
      link(rel='stylesheet', href='/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
      link(rel='stylesheet', href='/plugins/jqvmap/jqvmap.min.css')
      link(rel='stylesheet', href='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
      link(rel='stylesheet', href='/plugins/daterangepicker/daterangepicker.css')
      link(rel='stylesheet', href='/plugins/summernote/summernote-bs4.min.css')

      link(rel='stylesheet', href='/plugins/select2/css/select2.min.css')
      link(rel='stylesheet', href='/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')
      link(rel='stylesheet', href='/plugins/jquery-ui/jquery-ui.css')
      link(rel='stylesheet', href='/plugins/jquery-ui/jquery-ui.structure.css')
      link(rel='stylesheet', href='/public/style.css')
      link(rel='stylesheet', href='/public/css/footable.bootstrap.css')
      link(rel='stylesheet', href='https://adminlte.io/themes/v3/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
      link(type='text/css' rel='stylesheet' href='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css')

      link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')
  body.hold-transition.sidebar-mini.layout-footer-fixed
    .wrapper#vue-initter
      // Navbar
      nav.main-header.navbar.navbar-expand
        // Left navbar links
        ul.navbar-nav.ml-3
          li.nav-item
            a.nav-link(data-widget='pushmenu', href='#', role='button')
              i.fa.fa-bars

        ol.breadcrumb
          li.breadcrumb-item
            a.breadcrumb-item(href='/')
              i.fa.fa-home
          block breadcrumbs

        // Right navbar links
        ul.navbar-nav.ml-auto.mr-3
          if !grant
            li.nav-item
              a.nav-link(href='/login')
                i.ion.ion-md-log-in
          else
            li.nav-item.dropdown
              a.nav-link(data-toggle='dropdown' href='#' aria-expanded='true')
                i.ion.ion-md-contact
                |
                = grant.id.preferred_username
              .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
                span.dropdown-item.dropdown-header.disabled
                  i.ion.ion-md-person
                  |
                  = grant.id.name
                .dropdown-divider
                span.dropdown-item.disabled
                  i.ion.ion-md-mail
                  |
                  = grant.id.email
                .dropdown-divider
                a.dropdown-item.dropdown-footer(href='/logout')
                  i.ion.ion-md-logout
                  |  Выйти

          li.nav-item
            a.nav-link(data-widget='fullscreen', href='#', role='button')
              i.fas.fa-expand-arrows-alt


      // /.navbar
      aside.main-sidebar.elevation-4
        .sidebar
          // Brand Logo
          .main-sidemenu__logo
            a(href='/')
              div
              span Инженер
          // Sidebar Menu
          nav.mt-4
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
              li.nav-item
                a.nav-link(href='/')
                  ion-icon(name='star')
                  p Домашняя страница

              li.nav-item.menu-open#firstMenuOpen
                a.nav-link
                  ion-icon(name='reader-outline')
                  p Номенклатура
                  i.far.fa-angle-down#firstMenuOpenIcon
                ul.nav.nav-treeview
                  //+nav-item('nomenclatureparameter')
                  //  p Параметры номенклатуры
                  +nav-item('nomenclature')
                    p Номенклатура
                  +nav-item('passport')
                    p Оборудование
              li.nav-item
                a.nav-link
                  ion-icon(name='reader-outline')
                  p Служебные
                  ion-icon(name='chevron-up-outline')
                ul.nav.nav-treeview
                  +nav-item('value')
                    p Значения параметров
                  +nav-item('counterparty')
                    p Контрагенты
                  +nav-item('part')
                    p Комплектация
                  +nav-item('branch')
                    p Организационная структура
                  +nav-item('malfunction_type')
                    p Типы неисправностей
                  +nav-item('repair_type')
                    p Типы ремонта
                  +nav-item('toro')
                    p TOPO
                  +nav-item('commission')
                    p Закрепления
                  +nav-item('nomenclaturevendor')
                    p Производитель номенклатуры
                  +nav-item('nomenclaturetype')
                    p Типы номенклатуры
                  +nav-item('nomenclaturegroup')
                    p Групы номенклатуры
                  +nav-item('nomenclatureclass')
                    p Классы номенклатуры
                  +nav-item('nomenclatureparameter')
                    p Параметры номенклатуры
                  +nav-item('unit')
                    p Единицы измерения
                  +nav-item('warranty')
                    p Гарантия
                  +nav-item('runtime')
                    p Наработка
                  +nav-item('components')
                    p Компоненты
            // /.sidebar-menu
      .content-wrapper
        // Main content
        section.content.ml-3.mr-3
          block body
          if env && env.frontDebug
            - var exposed_locals = Object.assign({}, locals._locals)
            - if (exposed_locals.list) exposed_locals.list = exposed_locals.list.filter((el, n) => n < 10)
            pre.debug(style="font-size: .6rem; line-height: .6rem;")= JSON.stringify(exposed_locals, 0, 2)
          // else
            +inspect_local('success')
            +inspect_local('errors')
      footer.main-footer
        .d-none
          filter-manager
        if lastlog && lastlog.length
          .float-left
            a.nav-link.d-inline(data-widget="control-sidebar" data-slide="true" href="#" role="button")
              i.far.fa-bell

            strong Последняя операция:
            |
            strong= `${lastlog[0].name} (${lastlog[0].email})`
            |

            -var action = { create: 'создал', edit: 'изменил', delete: 'удалил'}
            strong=  action[lastlog[0].action] || lastlog[0].action
            |
            strong: a.btn.btn-sm(href=lastlog[0].module + '/edit/' + lastlog[0].extra.instanceId)= lastlog[0].extra.instanceId
            |  в
            strong= (i10n.modules[lastlog[0].module] || { title: lastlog[0].module }).title
            |
            strong
              i.fa.fa-clock
              |
              +format-date(lastlog[0].createdAt)
        else
          strong
            | Maximus
            | &copy; 2021
        .float-right.d-none.d-sm-inline-block
          | Модуль
          b  ИНЖЕНЕР
      aside.control-sidebar(style='width: 470px;')
        .sidebar
          .card
            .card-header
                h5 События
            .card-body
              for entry in lastlog
                .mb-1
                  if entry.action == 'create'
                    i.fa.fa-file-alt
                  if entry.action == 'edit'
                    i.fa.fa-edit
                  if entry.action == 'delete'
                    i.fa.fa-trash-alt
                  = ` ${entry.name} (${entry.email}) `
                  a.btn.btn-sm(href='/' + entry.module + '/edit/' + entry.extra.instanceId role='button')= entry.extra.instanceId
                  = ` в ${(i10n.modules[entry.module] || { title: entry.module }).title}`


    block script
      script.
        window.backend_addr = '#{env.backendAddr}'
        window.table_formatter = {
          date: date => `<td>${moment(date).format('YYYY.MM.DD')}</td>`
        }
      script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js')
      script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.js')
      script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.js')
      script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.js')


      script(src='https://cdnjs.cloudflare.com/ajax/libs/url-search-params/1.1.0/url-search-params.max.js')
      script(src='/plugins/jquery/jquery.js')
      script(src='/plugins/jquery-ui/jquery-ui.min.js')
      script.
        $.widget.bridge('uibutton', $.ui.button)
      script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
      script(src='/plugins/chart.js/Chart.min.js')
      script(src='/plugins/sparklines/sparkline.js')
      script(src='/plugins/jquery-knob/jquery.knob.min.js')
      script(src='/plugins/moment/moment.min.js')
      script(src='/plugins/daterangepicker/daterangepicker.js')
      script(src='/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')
      script(src='/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
      script(src='/dist/js/adminlte.js')

      script(src='/plugins/select2/js/select2.full.min.js')
      script(src='/plugins/jsgrid/jsgrid.js')
      script(src='/plugins/jquery-validation/jquery.validate.js')

      script(src='/plugins/moment/moment-with-locales.js')

      script(src='/public/js/dateonlypicker.js')

      script(src='/public/js/footable.min.js')

      script(src='https://unpkg.com/vue@2.6.14/dist/vue.js')
      script(src='https://unpkg.com/vuex')
      script(src='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js')
      script(src='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js')

      script(src='/public/filterManager/index.js')
      script.
        $(() =>{
          $('[data-toggle="popover"]').popover()
          const store = new Vuex.Store({
            state: {
              count: 0,
              test: 'teeeest',
              isFiltersManagerVisible: true,
              headerFields: {}
            },
            mutations: {
              increment (state) {
                state.count++
              },
              changeHeaderFields(state, newHeaderFields){
                state.headerFields = newHeaderFields
              },
              toggleFiltersManagerVisibility (state) {
                state.isFiltersManagerVisible=!state.isFiltersManagerVisible
              },
            }
          })

          const vue =new Vue({
            el:'#vue-initter',
            store: store,
            mounted(){
              dateonlypickerInitialisationFunction()

            }
          })

          window.store = store
          $(".select2").select2()

          //- dateonlypickerCalendarInit
          $('.dateonlypicker').map((i,el)=> {
            const parent = $(el).parent()
            const t =$(parent).children()
            console.log($(t))
            $(parent).children().map((i,child)=>{
              if($(child).attr('class') == 'input-group-append') {
                $(child).click(()=>{
                  el.click()
                })
              }
            });
          })
          //- Menu init
          $("#firstMenuOpen").click(()=>{
            $('#firstMenuOpenIcon').toggleClass('open')
          })
            })
      if errors
        script.
          $(() => {
            var err = !{JSON.stringify(errors)}
            err.map(el => {
              $(document).Toasts('create', {
                title: 'Ошибка',
                body: el.message,
                'class': 'bg-danger'
              })
            })
          })
      if success
        script.
          $(() => {
            var success = !{JSON.stringify(success)}
            var i10n = !{JSON.stringify(i10n)}
            var types = {update: 'Изменена', create: 'Создана', remove: 'Удалена'}
            var body = `${types[success.type]} запись <a class='btn btn-sm btn-success' href='/${success.module}/edit/${success.id}'>№ ${success.id}</a> в ${(i10n.modules[success.module] || { title: success.module }).title}`
            console.log({ success })
            if (success) {
              $(document).Toasts('create', {
                title: 'Успех',
                autohide: true,
                delay: 5000,
                body,
                'class': 'bg-success'
              })
            }

          })

