mixin label(key, text)
  label(for=key)= text

mixin input(key, text)
  .form-group
    label(for=key)= text
    if errors
      - var err = errors.find(e => e.path == key)
      input.form-control.is-invalid(id=key name=key type="text" placeholder="" value=instance[key])
      .error.invalid-feedback= err.message
    else
      input.form-control(id=key name=key type="text" placeholder="" value=instance[key])

mixin dummy_input(key, text)
  if instance[key]
    .form-group
      label(for=key)= text
      input.form-control(id=key type="text" placeholder="" disabled value=instance[key])

mixin nav-item(id, title)
  - var auth = 'engi-'+id
  - var uri = '/'+id
  li.nav-item
    if grant && (grant.access.realm_access.roles.includes(auth) || grant.access.realm_access.roles.includes('engi-admin'))
      if path === uri
        a.nav-link.selected(href=uri)
          block
      else
        a.nav-link(href=uri)
          block
    else
      a.nav-link.disabled(href=uri)
        block

mixin format-date(iso)
  = moment(iso).format('YYYY.MM.DD HH:mm:ss')
