mixin label(key, text)
  label(for=key)= text

mixin input(key, text)
  .form-group
    label(for=key)= text
    if errors && errors[key]
      input.form-control.is-invalid(id=key name=key type="text" placeholder="" value=instance[key])
      .error.invalid-feedback= errors[key].message
    else
      input.form-control(id=key name=key type="text" placeholder="" value=instance[key])

mixin dummy_input(key, text)
  if instance[key]
    .form-group
      label(for=key)= text
      input.form-control(id=key type="text" placeholder="" disabled value=instance[key])