extends ../layout.pug

block body
  - var instance = Object.assign({}, instance || {}, query)
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      h3.card-title Новое закрепление
    .card-body
      if instance.id
        +dummy_input('id', 'Код')
      +input('commission_id',  'Номер документа основания')
      +input('commissioned',  'Дата документа основания')
      +input('inventory_id',  'Инвентарный номер')
      +input('ip',  'IP адрес')
      +input('mac',  'MAC адрес')
      - passport.map((el, n) => el['__title'] = `${n} ${el['nomenclature.model']} арт. ${el['nomenclature.vendor_id'] || '__'} изг. ${el['nomenclature.nv.title']}`)
      +select2_required('passportId', 'Экземпляр борудования', passport)
      - branch.map(el => el['__title'] = el.title)
      +select2_required('branchId', 'Подразделение', branch)

    .card-footer
      if instance.id
        button.btn.btn-primary(type="submit") Сохранить
        // a.float-right.btn.btn-danger(href=`/commission/delete/${instance.id}`) Удалить
      else
        button.btn.btn-primary(type="submit") Добавить
